span {
  background: skyblue;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}

.changeColor span {
  background: green;
}

.changeFontSize span {
  font-size: 30px;
}

.changeColor span:after {
  content: 'mr.okxu';
  margin-left: 10px;
}
